<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小小相册</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .row h4{
            text-align: center;
        }
        .alert{
            display: none;
        }
    </style>
</head>
<body>
<h1>我的留言本：</h1>
<div class="container">
        <form class="form-horizontal col-lg-6">
            <div class="form-group">
                <label for="xingming" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="xingming" id="xingming" placeholder="姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="liuyan" class="col-sm-2 control-label">内容</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="liuyan" id="liuyan"></textarea>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" id="tijiao">提交</button>
                </div>
            </div>
        </form>
    <div class="alert alert-success" id="chenggong" role="alert">留言成功</div>
    <div class="alert alert-danger" id="shibai" role="alert">留言失败</div>
</div>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
<script>
    //ajax提交表单

    $("#tijiao").click(function () {
        $.post("/tijiao",{
            "xingming":$("#xingming").val(),
            "liuyan":$("#liuyan").val()
        },function (result) {
            if (result.result==-1){
                $("#shibai").fadeIn();
            }else if(result.result==1){
                $("#chenggong").fadeIn();

            }
        })
    })
</script>
</body>
</html>