<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小小相册</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .row h4{
            text-align: center;
        }
        .alert{
            display: none;
        }
    </style>
</head>
<body>
<h1>我的留言本：</h1>
<div class="container">
        <form class="form-horizontal col-lg-6">
            <div class="form-group">
                <label for="xingming" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="xingming" id="xingming" placeholder="姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="liuyan" class="col-sm-2 control-label">内容</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="liuyan" id="liuyan"></textarea>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" id="tijiao">提交</button>
                </div>
            </div>
        </form>
    <div class="alert alert-success" id="chenggong" role="alert">留言成功</div>
    <div class="alert alert-danger" id="shibai" role="alert">留言失败</div>

    <ul class="list-group" id="listShow">
    </ul>
    <div id="quanbuliuyan">

    </div>
</div>
<!--<script type="text/template" id="moban">-->
    <!--<div class="liuyanban">-->
        <!--<p>【姓名】{{=xingming}}</p>-->
        <!--<p>【留言】{{=liuyan}}</p>-->
    <!--</div>-->
<!--</script>-->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-noflect.js"></script>
<script>
    //ajax请求
    $.get("/du",function (result) {

        for (var i = 0;i<result.result.length;i++){
            var html = ("<li class='list-group-item'>" +
                            "<p>姓名："+result.result[i].xingming+"</p>" +
                            "<p>留言："+result.result[i].liuyan+"</p>" +
                            "<p>时间:"+result.result[i].shijian+"</p>"+
                        "</li>");
//            $("#listShow").prepend("<li class='list-group-item'><p>姓名："+result.result[i].xingming+"</p><p>留言："+result.result[i].liuyan+"</p></li>")
            $("#listShow").prepend(html);
        }
    })


    //ajax提交表单

    $("#tijiao").click(function () {
        $.post("/tijiao",{
            "xingming":$("#xingming").val(),
            "liuyan":$("#liuyan").val()
        },function (result) {
            if (result.result==-1){
                $("#shibai").fadeIn();
            }else if(result.result==1){
                var html = ("<li class='list-group-item'><p>姓名："+$("#xingming").val()+"</p><p>留言："+$("#liuyan").val()+"</p><p>时间："+new Date()+"</p></li>")
                $("#chenggong").fadeIn();
                $(html).insertBefore($("#listShow"));
                $('#xingming').val("");
                $('#liuyan').val("");


            }
        })
    })
</script>
</body>
</html>